/SimpleJavaFx/nbproject/private/
/SimpleJavaFx/build/
/SimpleJavaFx/dist/
/EventHandle/nbproject/private/
/EventHandle/build/
/javafx/nbproject/private/
/javafx/build/
/JavaFXwithcss/nbproject/private/
/JavaFXwithcss/dist/
/JavaFXwithcss/build/
/SimpleJava/nbproject/private/
/SimpleJava/build/
/JavaFXWebView/nbproject/private/
/JavaFXWebView/build/
/JavaFXWebView/dist/